<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ block "title" . }}{{ .Title }} - {{ .Site.Title }}{{ end }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ block "meta_tags" . }}{{end}}
  <link rel="icon" href="{{ "favicon.icon" | absURL}}">

  {{ if .Site.IsServer }}
  {{ $style := resources.Get "scss/style.scss" | toCSS (dict "targetPath" "css/style.css" "enableSourceMap" true) }}
  <link rel="stylesheet" href="{{ ($style).RelPermalink }}">
  {{ else }}
  {{ $style := resources.Get "scss/style.scss" | toCSS (dict "targetPath" "css/style.css" "enableSourceMap" false) }}
  <link rel="stylesheet" href="{{ ($style | minify | fingerprint).RelPermalink }}">
  {{ end }}

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

  {{ block "header_css" . }}{{ end }}

</head>

<body class='page {{ block "body_classes" . }}{{ end }}'>
  {{ partial "main-menu-mobile.html" . }}
  <div class="wrapper">
    {{ partial "header.html" . }}

    {{ $displaySidebar := false }}
    {{ range .Site.Params.mainSections }}
    {{ if eq $.Section . }}
    {{ $displaySidebar = true }}
    {{ end }}
    {{ end }}

    {{ if $displaySidebar }}
    <div class="container pt-2 pt-md-6 pb-3 pb-md-6">
      <div class="row">
        <div class="col-12 col-md-3 mb-3">
          <div class="sidebar">
            {{ partial "sidebar.html" . }}
          </div>
        </div>
        <div class="col-12 col-md-9">
          {{ block "main" . }}{{ end }}
        </div>
      </div>
    </div>
    {{ else }}
    {{ block "main" . }}
    {{ end }}
    {{ end}}
  </div>

  {{ partial "sub-footer.html" . }}

  {{ $scripts := resources.Get "js/scripts.js" }}

  {{ block "footer_js" . }}
  {{ end }}

  {{ if .Site.IsServer }}
  <script type="text/javascript" src="{{ $scripts.RelPermalink }}"></script>
  {{ else }}
  <script type="text/javascript" src="{{ ($scripts | minify | fingerprint).RelPermalink }}"></script>

  <script type="text/javascript">
    const notes = document.querySelectorAll(".private-note");

    Array.prototype.forEach.call(notes, function(note) {
      note.remove()
    });
  </script>
  {{ end }}

  {{ partial "google-analytics.html" . }}

  <script type="text/javascript">
    (function () {
      'use strict';

      const search = location.search.substring(1)

      // If we're on the home page with no url params do nothing
      if (!search) {
        return;;
      }

      let urlObject = JSON.parse('{"' + decodeURI(search).replace(/"/g, '\\"').replace(/&/g, '","').replace(/=/g,'":"') + '"}')
      urlObject.workshop_user = urlObject.workshop_user.replace(/\+/g, ' ')

      if (!document.queryCommandSupported('copy')) {
        return;
      }

      function flashCopyMessage(el, msg) {
        el.textContent = msg;
        setTimeout(function () {
          el.textContent = "Copy";
        }, 1000);
      }

      function selectText(node) {
        const selection = window.getSelection();
        const range = document.createRange();
        range.selectNodeContents(node);
        selection.removeAllRanges();
        selection.addRange(range);
        return selection;
      }

      function addCopyButton(containerEl) {
        if (containerEl.nextElementSibling.className != "nocopy") {
            const copyBtn = document.createElement("button");
            copyBtn.className = "highlight-copy-btn copy button-outline float-left small text-uppercase";
            copyBtn.textContent = "Copy";
            const codeEl = containerEl.firstElementChild;
            copyBtn.addEventListener('click', () => {
              try {
                const selection = selectText(codeEl);
                document.execCommand('copy');
                selection.removeAllRanges();
                flashCopyMessage(copyBtn, 'Copied!')
              } catch (e) {
                console && console.log(e);
                flashCopyMessage(copyBtn, 'Failed :\'(')
              }
            });
            containerEl.appendChild(copyBtn);
            // append clearfix
            const clearFix = document.createElement('div')
            clearFix.className = 'clearfix'
            containerEl.parentNode.insertBefore(clearFix, containerEl.nextSibling)
        }
      }

      function appendUrlParams(linkEl) {
        linkEl.href += window.location.search
      }

      // append url params
      const navLinks = document.getElementsByClassName('copy-url-params');
      Array.prototype.forEach.call(navLinks, appendUrlParams);

      function updateNames(element) {
        element.innerHTML = element.innerHTML.replace(/&lt;workshop_user&gt;/g, lispCase(urlObject.workshop_user)).replace(/\<workshop_user\>/g, lispCase(urlObject.workshop_user))
      }

      function updateHref(element) {
        element.href = element.href.replace(/%3Cworkshop_user%3E/g, lispCase(urlObject.workshop_user))
        element.innerHTML = element.innerHTML.replace(/\<workshop_user\>/g, lispCase(urlObject.workshop_user))

        if (!urlTest().test(element.href)) {
          element.target = '_blank'
        }
      }

      function lispCase(string) {
        return string.toLowerCase().replace(/\s/g,'-')
      }

      function urlTest(){
        return new RegExp('/' + window.location.host + '/');
      }

      const anchors = document.getElementsByTagName('a');
      Array.prototype.forEach.call(anchors, updateHref);

      // append url params
      const nameElements = document.getElementsByClassName('content');
      Array.prototype.forEach.call(nameElements, updateNames);

      // Add copy button to code blocks
      const highlightBlocks = document.getElementsByClassName('highlight');
      Array.prototype.forEach.call(highlightBlocks, addCopyButton);
    })();
  </script>

</body>

</html>
